footer {
  .block-padding {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  text-align: center;

  .copyright {
    padding: 20px 0;
  }
  .flex {
    justify-content: space-between;
    align-items: stretch;
    & > *:not(.h-separator) {
      width: 33.33%;
    }
  }
  

  p {
    color: #ffffff;
  }

  h4 {
    color: #ffffff;
  }
  img {
    width: auto;
  }
  .nav > li{
    display: inline-block;
    & > a:hover {
      background-color: transparent !important;
      opacity: 0.7;
    }
  }
}


.footer-address {
  padding: 0 3%;
  text-align: left;
  a {
    color: #ffffff;
  }
}

@media (max-width: 1024px) {
  footer .nav > li {
    display: block;
  }
  .footer-address {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .footer-address {
    text-align: center;
  }
  footer .block-padding {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  footer .flex {
    flex-wrap: wrap;
    justify-content: center;
    & > *:not(.h-separator) {
      width: 100%;
    }
  }
}


