.all-projects {
  p {
    margin-bottom: 30px;
  }
  .owl-dots {
    margin-top: 30px;
    span {
      border: 3px solid $primary;
    }
    button.active span{
      background: $primary;
    }
  }
}

.all-projects-box {
  border: 3px solid #ffffff;
  padding: 40px 60px;
}



.section-title {
  font-size: 38px;
  color: $primary;
  span {
    display: block;
  }
}

.all-projects-content {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .all-projects-box {
    padding: 15px 25px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }
  .all-projects-box {
    padding: 20px 30px;
  }
  .all-projects .container-small {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .all-projects .btn-secondary {
    display: block;
    padding: 7px 10px;
    text-align: center;
  }
}

@media (min-width: 1200px) {

  .all-projects-content {
    padding-right: 30%;
    margin: 0;
  }
}
