extends ../layouts/default


block intro
	.container.container-small.text-center.intro
		h1.heading-main.margin-b-30= translations.aboutOurTeam
		p= translations.aboutText

block content
	.container.about#about-block
		.flex.padding-50-h
			.person-wrapper.animate-enter.from-left
				section.person
					figure
						img(src="/images/about/Djamal.png", alt="cage")
					.content
						h3.heading= translations.djamalALiman
						small= translations.person1TextTitle
						p= translations.person1Text
			.person-wrapper.animate-enter.from-bottom
				section.person
					figure
						img(src="/images/about/Stoqn.png", alt="cage")
					.content
						h3.heading= translations.stoyanZlatev
						small= translations.person2TextTitle
						p= translations.person2Text
			.person-wrapper.animate-enter.from-right
				section.person
					figure
						img(src="/images/about/NIKOLA-GOTOV.png", alt="cage")
					.content
						h3.heading= translations.nikolaGotov
						small= translations.person3TextTitle
						p= translations.person3Text

	

