extends ../layouts/default

block css
	link(href="/styles/gallery/ug-theme-default.css", rel="stylesheet") 
	link(href="/styles/gallery/unite-gallery.css", rel="stylesheet")
	link(href="/styles/owl/owl.carousel.min.css", rel="stylesheet")
	link(href="/styles/owl/owl.theme.default.min.css", rel="stylesheet")
	
block content
	.owl-carousel-main.owl-carousel.short-carousel
		.item(style='background-image: url("/images/products/bv8500/header.jpg")')
			.strip.container
				.bg-strip-wrapper
					.bg-strip
			.content.container
				.item-content
					h1= translations[projectName]

	section.container.container-small.product-intro.padding-50-h
		p= translations[projectKey]
	#gallery.padding-50-h
		if galleries.length
			each gallery in galleries
				each image in gallery.images
					img(src=image.limit(300,480), data-image=image.limit(), data-description=translations[projectName], alt="")
		else
			h3.text-muted There are no image galleries yet.



