extends ../layouts/default

block css
	link(href="/styles/owl/owl.carousel.min.css", rel="stylesheet")
	link(href="/styles/owl/owl.theme.default.min.css", rel="stylesheet")




block content
	#pre-loader
		img(src="../images/logo.png")
	.owl-carousel-main.owl-carousel
		.item(style='background-image: url("/images/carousel/indexphoto1.jpg")')
			.strip.container
				.bg-strip-wrapper
					.bg-strip
			.content.container
				.item-content
					h2= translations.carousel1
					p= translations.carouselText1
		.item(style='background-image: url("/images/carousel/indexphoto2.jpg")')
			.strip.container
				.bg-strip-wrapper
					.bg-strip
			.content.container
				.item-content
					h2= translations.carousel1
					p= translations.carouselText1 
		.item(style='background-image: url("/images/carousel/indexphoto3.jpg")')
			.strip.container
				.bg-strip-wrapper
					.bg-strip
			.content.container
				.item-content
					h2= translations.carousel1
					p= translations.carouselText1
	section.services-block.blue-bg.block-padding#services-block
		.container.container-small
			.row
				.col-md-6.large-padding.animate-enter.from-left
					h3(class="margin-b-50")= translations.ourServices 
			.row
				.col-md-6.large-padding.animate-enter.from-left
					p= translations.ourServicesMain
				.col-md-6.services-list.large-padding.animate-enter.from-right
					section.service.margin-b-50
						h4= translations.ourServicesDelivery
						p.read-more= translations.deliveryText
					section.service
						h4= translations.installation
						p.read-more= translations.installationText
	section.projects-block#project-block
		//- .carousel-control.prev-action
		//- .carousel-control.next-action
		.owl-carousel-projects.owl-carousel.carousel-projects
			.item(style='background-image: url("/images/projects/index/glass-railing-стъклен.jpg")' onclick='window.location = "/projects";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.glassRailingsWithSpan}
					p.margin-b-30= translations.glassRailingsText
					a.btn-primary(href="/projects")= translations.seeAllProjects
			.item(style='background-image: url("/images/projects/index/Tube-кръгло.jpg")' onclick='window.location = "/projects";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.aluminiumRoundRailingsWithSpan}
					p.margin-b-30= translations.aluminiumRoundRailingsText
					a.btn-primary(href="/projects")= translations.seeAllProjects
			.item(style='background-image: url("/images/projects/index/Square-квадрат.jpg")' onclick='window.location = "/projects";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.aluminiumSquareRailingsWithSpan}
					p.margin-b-30= translations.aluminiumSquareRailingsText
					a.btn-primary(href="/projects")= translations.seeAllProjects
			.item(style='background-image: url("/images/projects/index/glass-shed-стъклен-навес.jpg")' onclick='window.location = "/projects";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.glassShedsWithSpan}
					p.margin-b-30= translations.glassShedsText
					a.btn-primary(href="/projects")= translations.seeAllProjects
			
	section.all-projects.blue-bg.block-padding
		.container.container-small#project-box
			.all-projects-box
				.row
					.col-md-6.animate-enter.from-left
						.all-projects-content
							h3.section-title.margin-b-100 #[span.light-blue= translations.viewAll] #[= translations.viewAllProducts]
							p= translations.viewAllProductsText
							a.btn-secondary(href="/products")= translations.viewAllLink
					.col-md-6.animate-enter.from-right
						.owl-carousel-all-projects.owl-carousel
							.item
								img(src="/images/projects/allProjects/project1.png", alt="project")
							.item
								img(src="/images/projects/allProjects/project2.png", alt="project")
							.item
								img(src="/images/projects/allProjects/project3.png", alt="project")

	section.map
		<iframe width="100%" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.788605771437!2d24.775311515889705!3d42.15481027920119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd16590e8b981%3A0xe352461a490e226e!2z0JHQsNGA0L7RgSDQktC40LbRitC9INCV0J7QntCU!5e0!3m2!1sbg!2sbg!4v1516457536388" frameborder="0" style="border:0" allowfullscreen></iframe>

			
	

