extends ../layouts/default


block intro
	.container.container-small.text-center.intro
		h1.heading-main.margin-b-30= translations.ourProducts
		p= translations.ourProductsText

block content
	section.projects-block#project-block
		//- .carousel-control.prev-action
		//- .carousel-control.next-action
		.owl-carousel-products.owl-carousel.carousel-projects
			.item(style='background-image: url("/images/productCatalog/glass-railings.jpg"); background-position: bottom center;' onclick='window.location = "/products/glass-railings";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.glassRailingsWithSpan}
					p.margin-b-30= translations.glassRailingsProductPage
					a.btn-primary(href="/products/glass-railings")= translations.seeAllProducts
			.item(style='background-image: url("/images/productCatalog/aluminium-railings.jpg")' onclick='window.location = "/products/aluminium-railings";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.aluminiumRailingsWithSpan}
					p.margin-b-30= translations.aluminiumRailingsProductPage
					a.btn-primary(href="/products/aluminium-railings")= translations.seeAllProducts
			.item(style='background-image: url("/images/productCatalog/inox-accesories.jpg")' onclick='window.location = "/products/inox-accessories";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.inoxAccessoriesWithSpan}
					p.margin-b-30= translations.inoxAccessoriesProductPage
					a.btn-primary(href="/products/inox-accessories")= translations.seeAllProducts
			.item(style='background-image: url("/images/productCatalog/plexiglass.jpg")' onclick='window.location = "/products/plexiglass";')
				.content.large-padding.margin-b-30
					h4.margin-b-50 !{translations.plexiglassWithSpan}
					p.margin-b-30= translations.plexiglassProductPage
					a.btn-primary(href="/products/plexiglass")= translations.seeAllProducts