extends ../layouts/default


block intro
	.container.container-small.text-center.intro
		h1.heading-main.margin-b-30= translations[projectName]
		p= translations[projectName + "ProductPage"]

block content
	padding-50-h.products-page
		.container
			article.content-wrapper.flex#tabPanel
				//- aside
				//- 	ul.list-unstyled#tabs
				//- 		li
				//- 			- var glassRailingsClass = (productSlug === 'glass-railings' ? 'active-title' : '')
				//- 			a(id="tab1" class=glassRailingsClass)= translations.glassRailings
				//- 		li
				//- 			- var aluminiumRailingsClass = (productSlug === 'aluminium-railings' ? 'active-title' : '')
				//- 			a(id="tab2" class=aluminiumRailingsClass)= translations.aluminiumRailings
				//- 		li
				//- 			- var inoxAccessoriesClass = (productSlug === 'inox-accessories' ? 'active-title' : '')
				//- 			a(id="tab3" class=inoxAccessoriesClass)= translations.inoxAccessories
				//- 		li
				//- 			- var plexiglassClass = (productSlug === 'plexiglass' ? 'active-title' : '')
				//- 			a(id="tab4" class=plexiglassClass)= translations.plexiglass
				main#tab-contents
					- var glassRailingsContentClass = (productSlug === 'glass-railings' ? 'active-content' : '')
					div(class=glassRailingsContentClass).items.row#tab1-content.tab-content
						.products-wrapper.flex
							section.product-item.animate-enter.from-bottom
								a(href="/product/bv-9500")
									figure
										img(src="/images/products/BV9500.png", alt="product1")
									.content
										p.btn-primary BV 9500
							section.product-item.animate-enter.from-bottom
								a(href="/product/bv-9500s")
									figure
										img(src="/images/products/BV9500S.png", alt="product1")
									.content
										p.btn-primary BV 9500S
							section.product-item.animate-enter.from-bottom
								a(href="/product/bv-8500")
									figure
										img(src="/images/products/BV8500.png", alt="product1")
									.content
										p.btn-primary BV 8500
							section.product-item.animate-enter.from-bottom
								a(href="/product/bv-8502")
									figure
										img(src="/images/products/BV8502.png", alt="product1")
									.content
										p.btn-primary BV 8502
							section.product-item.animate-enter.from-bottom
								a(href="/product/xv-7500")
									figure
										img(src="/images/products/XV7500.png", alt="product1")
									.content
										p.btn-primary XV 7500
							section.product-item.animate-enter.from-bottom
								a(href="/product/wz-6500")
									figure
										img(src="/images/products/WZ6500.png", alt="product1")
									.content
										p.btn-primary WZ 6500
							section.product-item.animate-enter.from-bottom
								a(href="/product/mw-5500")
									figure
										img(src="/images/products/mw5500.png", alt="product1")
									.content
										p.btn-primary MW 5500
							section.product-item.animate-enter.from-bottom
								a(href="/product/bv-4500")
									figure
										img(src="/images/products/BV4500.png", alt="product1")
									.content
										p.btn-primary BV 4500
							section.product-item.animate-enter.from-bottom
								a(href="/product/rs-3500-ag")
									figure
										img(src="/images/products/RS-3500-AG.png", alt="product1")
									.content
										p.btn-primary RS 3500 AG
							section.product-item.animate-enter.from-bottom
								a(href="/product/rs-3500")
									figure
										img(src="/images/products/RS-3500.png", alt="product1")
									.content
										p.btn-primary RS 3500
							section.product-item.animate-enter.from-bottom
								a(href="/product/ic-2500")
									figure
										img(src="/images/products/IC2500.png", alt="product1")
									.content
										p.btn-primary IC 2500
						.download-block.text-center
							h2.heading-main= translations.downloadOurCatalog
							ul.list-inline.top-line.flags
								li
									a(href="/catalogues-download/glass-railing/BG_Catalogue2018.pdf")
										img(src="/images/flags/bg.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/Baros Vision ENG Catalogue 2018 ONLINE.pdf")
										img(src="/images/flags/en.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/BarosVision_FRENCH .pdf")
										img(src="/images/flags/fr.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/Baros Vision DE Catalogue 2018 ONLINE.pdf")
										img(src="/images/flags/de.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/Baros Vision RUM Catalogue 2018 ONLINE.pdf")
										img(src="/images/flags/es.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/Baros Vision TR Catalogue 2018 ONLINE.pdf")
										img(src="/images/flags/tr.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/Baros Vision IT Catalogue 2018 ONLINE.pdf")
										img(src="/images/flags/it.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/Baros Vision GR Catalogue 2018 ONLINE.pdf")
										img(src="/images/flags/gr.jpg", alt="")
								li
									a(href="/catalogues-download/glass-railing/Baros Vision RUS Catalogue 2018 ONLINE (1).pdf")
										img(src="/images/flags/ru.jpg", alt="")
					- var aluminiumRailingsContentClass = (productSlug === 'aluminium-railings' ? 'active-content' : '')
					div(class=aluminiumRailingsContentClass).items.row#tab2-content.tab-content
						.download-block.text-center
							h2.heading-main= translations.downloadOurCatalog
							ul.list-inline.top-line.flags
								li
									a(href="/catalogues-download/aliminium-railings/Aluminium-Profiles.pdf")
										img(src="/images/flags/en.jpg", alt="")
					- var inoxAccessoriesContentClass = (productSlug === 'inox-accessories' ? 'active-content' : '')					
					.items.row#tab3-content.tab-content
					
					- var plexiglassClassClass = (productSlug === 'plexiglass' ? 'active-content' : '')
					div(class=plexiglassClassClass).items.row#tab4-content.tab-content
						.download-block.text-center
							h2.heading-main= translations.downloadOurCatalog
							ul.list-inline.top-line.flags
								li
									a(href="/catalogues-download/plexiglass/PLEKSI-katalog.pdf")
										img(src="/images/flags/en.jpg", alt="")
					


	

