extends ../layouts/default

block css
	link(href="/styles/owl/owl.carousel.min.css", rel="stylesheet")
	link(href="/styles/owl/owl.theme.default.min.css", rel="stylesheet")




block content
	.owl-carousel-main.owl-carousel.short-carousel
		.item(style='background-image: url("/images/products/'+projectImgFolder+'/header.jpg")')
			.strip.container
				.bg-strip-wrapper
					.bg-strip
			.content.container
				.item-content
					h1= productName

	section.container.container-small.product-intro
		p= translations[productText1]

	.container.product-images#product-images-block
		.row
			.col-xs-4.animate-enter.from-left
				img(src="../images/products/"+projectImgFolder+"/profil.png", alt="project" onerror='this.style.display = "none"')
			.col-xs-4.animate-enter.from-bottom
				img(src="../images/products/"+projectImgFolder+"/profil1.png", alt="project" onerror='this.style.display = "none"')
			.col-xs-4.animate-enter.from-right
				img(src="../images/products/"+projectImgFolder+"/profil2.png", alt="project" onerror='this.style.display = "none"')

	.container.container-small.product-call-to-action#call-to-action
		section.flex.left-background
			.content.flex.center-v.animate-enter.from-left
				section
					p= translations[productText2]
					if translations[productText3]
						p= translations[productText3]
			figure.animate-enter.from-right
				img(src="/images/products/"+projectImgFolder+"/pic.jpg", alt="project")
	if translations.advantagesSection[projectImgFolder]["text1"]
		.container.container-small.product-advantages.padding-30-h
			.row
				h3.heading.margin-b-50.text-primary.text-center= translations.advantages
			#advantages-block.flex
				if translations.advantagesSection[projectImgFolder]["text1"]
					.advantage-item.animate-enter.from-left
						section.box
							p= translations.advantagesSection[projectImgFolder]["text1"]
				if translations.advantagesSection[projectImgFolder]["text2"]
					.advantage-item.animate-enter.from-bottom
						section.box
							p= translations.advantagesSection[projectImgFolder]["text2"]
				if translations.advantagesSection[projectImgFolder]["text3"]
					.advantage-item.animate-enter.from-bottom
						section.box
							p= translations.advantagesSection[projectImgFolder]["text3"]
				if translations.advantagesSection[projectImgFolder]["text4"]			
					.advantage-item.animate-enter.from-right
						section.box
							p= translations.advantagesSection[projectImgFolder]["text4"]
			

	.container.container-small.product-design.padding-50-h
		.row
			figure.text-center
				img.with-max-100(src="/images/products/"+projectImgFolder+"/big.png", alt="project")
	if files.length > 0
		.container.container-small.padding-50-h
			.text-center
				button.btn-primary.btn-inverted.btn-big#download-cad= translations.downloadCAD
					small= translations.inEveryPreferredFormat
	if files.length > 0
		.download-cad-popup-wrapper.flex
			.download-car-popup
				p= translations.plsChooseFormat
				.flex.button-wrapper
					ul
						each fileName in files
							li 
								a(href="/Download-CAD/"+productSlug+"/"+fileName)= fileName


