extends ../layouts/default


block intro
	.container.container-small.text-center.intro
		h1.heading-main.margin-b-30= translations.ourCompleteProjects
		p= translations.ourCompleteProjectsText

block content
	.container
		.row
			.col-md-6
				.project-item
					figure.flex
						img(src="/images/projects/index/glass-railing-стъклен-thumb.jpg", alt="glass-railings")
					.content.clearfix
						.content-wrapper
							h3= translations.glassRailings
							p.margin-b-30= translations.glassRailingsText
							a(href="/project/glass-railings").btn-primary.btn-small= translations.seeAll
			.col-md-6
				.project-item
					figure.flex
						img(src="/images/projects/index/Square-квадрат-thumb.jpg", alt="aluminium-railings")
					.content.clearfix
						.content-wrapper
							h3= translations.aluminiumSquareRailings
							p.margin-b-30= translations.aluminiumSquareRailingsText
							a(href="/project/aluminium-square-railings").btn-primary.btn-small= translations.seeAll
		
			.col-md-6
				.project-item
					figure.flex
						img(src="/images/projects/index/Tube-кръгло-thumb.jpg", alt="aluminium-pergolas")
					.content.clearfix
						.content-wrapper
							h3= translations.aluminiumRoundRailings
							p.margin-b-30= translations.aluminiumRoundRailingsText
							a(href="/project/aluminium-round-railings").btn-primary.btn-small= translations.seeAll
			.col-md-6
				.project-item
					figure.flex
						img(src="/images/projects/index/glass-shed-стъклен-навес-thumb.jpg", alt="glass-sheds")
					.content.clearfix
						.content-wrapper
							h3= translations.glassSheds
							p.margin-b-30= translations.glassShedsText
							a(href="/project/glass-sheds").btn-primary.btn-small= translations.seeAll



	

