extends ../layouts/default


block intro
	.container.container-small.text-center.intro
		h1.heading-main.margin-b-30= translations.seeHowWeDoIt
		p= translations.videoText

block content
	.video-list.padding-50-h
		section.video-block
			.half-blue-bg.right
			.container.bottom-half-lines.padding-50-h
				.row
					.col-sm-8
						<iframe width="100%" height="400" src="https://www.youtube.com/embed/22AoWfJIrfk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.col-sm-4
						.video-content
							h3 BV 8500
							p= translations.BV8500
		section.video-block
			.half-blue-bg.right
			.container.bottom-half-lines.padding-50-h
				.row
					.col-sm-8
						<iframe width="100%" height="400" src="https://www.youtube.com/embed/kPwsztXN4xA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.col-sm-4
						.video-content
							h3 MW 5500
							p= translations.BV5500
		section.video-block
			.half-blue-bg.right
			.container.bottom-half-lines.padding-50-h
				.row
					.col-sm-8
						<iframe width="100%" height="400" src="https://www.youtube.com/embed/l0BhY4tJvgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.col-sm-4
						.video-content
							h3 BV 8502
							p= translations.BV8502
		section.video-block
			.half-blue-bg.right
			.container.padding-50-h
				.row
					.col-sm-8
						<iframe width="100%" height="400" src="https://www.youtube.com/embed/3mi0XeGAgKs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.col-sm-4
						.video-content
							h3 XV 7500
							p= translations.XV7500
		section.video-block
			.half-blue-bg.right
			.container.padding-50-h
				.row
					.col-sm-8
						<iframe width="100%" height="400" src="https://www.youtube.com/embed/HEKrNEd8SJQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.col-sm-4
						.video-content
							h3 BV 9500
							p= translations.BV9500


	

