.project-item {
  position: relative;
  margin-bottom: 70px;
  min-height: 200px;
  h3 {
    font-size: 23px;
    line-height: 25px;
    height: 75px;
    overflow: hidden;
    color: $primary;
    font-weight: bold;
    max-width: 155px;
    margin: 0;
    margin-bottom: 20px;
  }
  p {
    font-size: 15px;
    line-height: 17px;
    height: 68px;
    overflow: hidden;
  }
  figure {
    position: absolute;
    left: -20px;
    top: 50%;
    width: 55%;
    height: calc(100% + 40px);
    transform: translate(0,-50%);
    overflow: hidden;
    z-index: 1;
    align-items: center;
    img {
      min-height: 100%;
      width: auto;
    }
  }
  .content {
    padding: 0 30px;
    position: relative;
    border: 2px solid $primary;
    z-index: 2;
  }
  .content-wrapper {
    width: 40%;
    float: right;
    display: block;
    padding: 20px 0;
  }
}


@media (max-width: 1200px) {
  .project-item .content {
    padding: 0 15px;
  }
  .project-item p {
    margin-bottom: 15px !important;
  }
  
}


@media (max-width: 1024px) {
  .project-item {
    img {
      margin-left: 0;
    }
  }
  
}

@media (max-width: 768px) {
  .project-item {
    margin-bottom: 60px;
    h3 {
      font-size: 18px;
    }
  }
}

@media (max-width: 600px) {
  .project-item {
    figure {
      width: 100%;
      transform: none;
      position: static;
      img {
        width: 100%;
        height: auto;
        min-height: initial;
      }

    }
    h3 {
      height: auto;
      max-width: 100%;
    }
          
    .btn-small {
      padding: 7px 7px;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 20px;
    }
    .content-wrapper  {
      width: 100%;
    }
  }
}