.products-page {
    aside {
        min-width: 250px;
        border-right: 2px solid $primary;
        li:not(:last-child) {
            margin-bottom: 30px;
        }
        a {
            font-size: 18px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &:hover {
                font-weight: bold;
                text-decoration: none;
            }
        }
    }

    .content-wrapper {
        padding: 50px;
        border: 2px solid $primary;
        margin-bottom: 20px;
    }

    .products-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 50px;
    }

    figure {
        margin-bottom: 15px;
        padding: 20px;
        img {
            width: auto;
        }
    }

    .product-item {
        text-align: center;
        width: 25%;
        border-right: 2px solid $blue-bg;
        border-bottom: 2px solid $blue-bg;
        &:nth-child(4n) {
            border-right: 0;
        }
        a:hover {
            text-decoration: none;
           .btn-primary {
                background: lighten($primary, 20);
                border-color: lighten($primary, 20);
           }
        }
        p {
            display: inline-block !important;
        }
    }
}

main {
    width: 100%;
}

.flags {
    li {
        margin-bottom: 15px;
    }
    a {
        position: relative;
        display: block;
        &:hover:after{
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $primary;
            opacity: 0.5;
            position: absolute;
        }
    }
}




#tabPanel {
    .active-title {
        transition: all 0.5s ease-in-out;
        font-weight: bold;
        text-decoration: none;
    }
    .tab-content {
        display: none;
    }
    .active-content {
        display: block;
    }
}


@media (max-width: 1400px) {
    .products-page .content-wrapper {
        padding: 25px;
    }
}

@media (max-width: 768px) {
    .products-page {
        .content-wrapper {
            flex-wrap: wrap;
        }
        aside {
            min-width: 100%;
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 2px solid $primary;
            border-right: none;
        }
        .product-item {
            width: 50%;
            &:nth-child(2n) {
                border-right: 0;
            }
        }
        aside li:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 400px) {
    .products-page figure img {
        width: 100%;
    }

}

