.video-content {
  padding-left: 30px;
}

@media (max-width: 1200px) {
  .video-content {
    padding-left: 15px;
  }  
}
.video-block {
  position: relative;
}


.bottom-half-lines {
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px;
  }
  &:after {
    background: $primary;
    left: 0;
  }
  &:before {
    background: #ffffff;
    right: 0;
  }
}

.half-blue-bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: $primary;
  z-index: -1;
  &.right {
    right: 0;
  }
}



.video-content {
  p, h3 {
    color: #ffffff;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    max-width: 60px;
  }
}

@media (max-width: 768px) {
  .half-blue-bg {
    width: 100%;    
  }  
  .bottom-half-lines {
    &:after {
      background: transparent;
    }
    &:before {
      width: 100%;
    }
  }
  .video-content h3 {
    max-width: initial;
  }
}