.download-cad-popup-wrapper {
  position: fixed;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  &.popped {
    visibility: visible;
    opacity: 1; 
  }
  p {
    margin-bottom: 50px;
  }
  .download-car-popup {
    background: #ffffff;
    padding: 50px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  }
  .button-wrapper {
    justify-content: space-between;
  }
}