.services-block {
  background-image: url("/images/services-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  h3, h4 {
    color: $primary;
    font-weight: bold;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 30px;
  }
  .service {
    p {
      color: $color-light;
    }
    a {
      color: #ffffff;
    }
  }
  .services-list {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      width: 4px;
      height: 100%;
      background: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .services-block {
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 24px;
    }
    .service {
      p {
        color: $primary;
      }
    }
    .services-list {
      margin-top: 20px;
      padding-top: 20px; 
      &:after {
        right: 0;
        left: 0;
        margin: 0 auto;
        height: 4px;
        width: 95%;
      }
    }
  }
}

