.projects-block {
  position: relative;
}
.carousel-projects {
  width: 100%;
  overflow: hidden;
  h4 {
    span {
      display: block;
      color: $color-light;
    }
  }
  .owl-item {
    display: inline-block;
  }
  .disabled {
    display: none;
  }
  .owl-dots {
    display: none;
  }
  .item {
    padding-bottom: 150%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 320px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      background-color: #ffffff;
      z-index: 1;
    }
    &:hover {
      &:after {
        opacity: 0.8;
      }
      h4, p, a {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
      }
    }
  }
  
  .content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  h4 {
    color: $primary;
    font-size: 38px;
    font-weight: bold;
  }

}



@media (max-width: 1200px) {
  .owl-carousel-projects {
    .item {
      padding-bottom: 200%;
    }
  }
}


@media (min-width: 1024px) {
  .carousel-projects {
    h4, p, a {
      position: relative;
      transform: translate(0, 30px);
      transition: all .5s ease-in-out;
      opacity: 0;
      visibility: hidden;
      display: inline-block;
    }
    p {
      transition-delay: .3s
    }
    a {
      transition-delay: .6s
    }
  }
}

@media (max-width: 1024px) {
  .carousel-projects .item {
    padding-bottom: 150%;
    &:after {
      opacity: 0.8;
    }
  }
}

@media (max-width: 768px) {
  .carousel-projects {
    .item {
      padding-bottom: 100%;
      margin-bottom: 20px;
      &:after {
        opacity: 0;
      }
    }
    h4 {
      font-size: 24px;
    }
    h4, p, a {
      color: #ffffff;
    }
    h4, p {
      text-shadow: 2px 2px 0px rgba(#000000, 1);
    }
    p {
      font-weight: bold;
    }
    .content {
      margin-bottom: 0;
      // background: rgba(#ffffff, 0.8);
      padding: 20px;
      color: #ffffff !important;
      // border: 2px solid $primary;
      // width: 90%;
      // left: 0;
      // right: 0;
      // margin-left: auto;
      // margin-right: auto;
      // padding-bottom: 10px;
    }
  }
}



