.navbar {
  margin: 0;
  padding: 30px 0;

}


@media (min-width: 768px) {
  .main-nav {
    & > li:not(.lang-list) {
      margin-right: 20px
    }
  }
}

.navbar-default {
  border-color: transparent;
  background: #ffffff;
}