.language-buttons {
	margin-left: 30px;
	& > li > a {
		padding-left: 5px;
		padding-right: 5px;
		&.active {
			background: $color;
			color: #ffffff !important;
		}
		&:hover {
			color: $color !important;
		}
	}
}

@media (max-width: 768px) {
	.language-buttons {
		text-align: center;
		margin: 0;
		margin-top: 20px;
		li {
			display: block;
		}
	}
}


