.logo {
  position: relative;
  display: table;
  padding: 10px 15px;
  margin-top: -21px;
  img {
    position: relative;
    z-index: 2;
    display: block;
    max-width: 110px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120%;
    width: 100%;
    background: $primary;
    z-index: 1;
  }
}


@media (max-width: 768px) {
  .logo {
    padding: 18px 15px;
  }
}