.navbar-default .navbar-nav > li > a {
  color: $color;
  &:hover {
    color: darken($color, 10);
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: $primary;
  color: #ffffff;
}


@media (min-width: 768px) {
  .navbar-nav > li > a { 
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: lighter;
  }


}


@media (max-width: 768px) {
  .navbar {
    padding: 15px 0;
  }
}