#about-block .flex {
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.person-wrapper {
    width: 30%;
}

.person {
    height: 100%;
    figure {
        text-align: center;
        margin-bottom: -100px;
        position: relative;
        &:after {
            content: '';
            width: 90%;
            top: 50px;
            left: 5%;
            height: calc(100% - 50px);
            background: $primary;
            position: absolute;
            z-index: -1;
        }
    }

    .content {
        padding: 120px 30px 30px;
        border: 2px solid $primary;
        height: calc(100% - 200px);
    }

    img {
        max-height: 300px;
        width: auto;
    }

    h3 {
        color: $primary;
        font-size: 24px;
        max-width: 30px;
    }

    p {
        margin-top: 30px;
        font-size: 14px;
        
    }
}


@media (max-width: 1200px) {
    .person {
        margin: 0;
    }
}
@media (max-width: 992px) {
    .person {
        margin-bottom: 30px;
        .content {
            padding: 100px 20px 20px;
        }
    }
}

@media (max-width: 768px) {
    .person-wrapper {
        width: 100%;
        margin-bottom: 15px;
    }
    .person {
        h3 {
            max-width: initial;
        }
        img {
            max-height: 300px;
            width: auto;
        }
    }
}