body {
    font-family: 'Roboto', sans-serif;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    font-weight: lighter;
    font-size: 18px;
    color: $primary;
}

@media (max-width: 768px) {
    p {
        font-size: 16px;
    }
}

.heading {
    font-size: 30px;
    font-weight: bold;
}

.primary-color-text {
    color: $primary !important;
}

.heading-main {
    font-size: 38px;
    font-weight: bold;
    color: $primary;
}

@media (max-width: 768px) {
    .heading-main {
        font-size: 24px;
    }
}

.top-line {
    position: relative;
    display: inline-block;
    padding-top: 30px;
    margin-top: 20px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $primary;
    }
}

.btn-primary {
    background: $primary;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: lighter;
    color: #ffffff;
    border:1px solid $primary;
    transition: all .2s ease-in-out;
    &:hover {
        background: lighten($primary, 20);
        border-color: lighten($primary, 20);
    }
}


.carousel-control {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10000;
    &.prev-action, &.next-action { 
        height: 50px;
        width: 50px;
        cursor: pointer;
        &:after, &:before {
            content: '';
            top: 50%;
            transform: translate(0, -50%);
            position: absolute;
            width: 50px;
            height: 4px;
            border-radius: 2px;
            background: #ffffff;
        }
    }
    &.prev-action {
        left: 30px; 
        right: auto;
        &:after, &:before {
            left: 30px; 
        }
        &:after {
            top: calc(50% + 16px);
            transform: rotate(45deg);
        }
        &:before {
            top: calc(50% - 16px);
            transform: rotate(-45deg);
        }
    }
    &.next-action {
        right: 30px;
        left: auto;
        &:after, &:before {
            right: 30px; 
        }
        &:after {
            top: calc(50% + 16px);
            transform: rotate(-45deg);
        }
        &:before {
            top: calc(50% - 16px);
            transform: rotate(45deg);
        }
    }
}
@media (max-width: 768px) {
    .carousel-control {
        &.prev-action {
            left: 0; 
            right: auto;
        }
        &.next-action {
            right: 0;
            left: auto;
        }
    }
}

.btn-secondary {
    background: transparent;
    color: $primary;
    border: 1px solid $primary;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: lighter;
    border:1px solid $primary;
    transition: all .2s ease-in-out;
    &:hover {
        background: $primary;
        border-color: $primary;
        color: #ffffff;
    }
}

@media (max-width: 400px) {
    .btn-secondary {
        display: block;
        width: 100%;
        text-align: center;
    }
}

small {
    color: $primary;
}

.btn-small {
    padding: 2px 7px;
    font-size: 12px;
}

#map {
    height: 400px;
}

.h-separator {
    width: 1px;
    background: #ffffff;
}

@media (max-width: 768px) {
    .h-separator {
        height: 2px;
        width: 90%;
        margin-top: 30px;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


.box {
    border: 3px solid $primary;
}

.btn-big {
    padding: 15px 75px;
    font-weight: bold;
    font-size: 30px;
    small {
        display: block;
        font-size: 18px;
        font-weight: normal;
    }
    &:hover {
        background: $primary;
        color: #ffffff;
        small {
            color: #ffffff;
        }
    }

}

.btn-inverted {
    background: #ffffff;
    border: 2px solid $primary;
    color: $primary;
}

.v-separator {
    width: 100%;
    height: 1px;
    background: #ffffff;
    display: block;
}

.flex {
    display: flex;
}

.large-padding {
    padding-left: 60px;
    padding-right: 60px;
}



.block-padding {
	padding: 5% 0;
}

.padding-50-h {
	padding: 2.5% 0;
}

.padding-30-h {
	padding: 1.5% 0;
}

#gallery {
    display: none;
}

.blue-bg {
	background-color: $blue-bg;
}

img {
    width: 100%;
}


@media (min-width: 1024px) {
    .animate-enter {
        transition: all 1s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }
    
    .from-left {
        transform: translate(-30px, 0);
    }
    
    .from-right {
        transform: translate(30px, 0);
    }

    .from-bottom {
        transform: translate(0, 30px);
    }

    .animate-action {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }
    
    .appeared {
        .from-left, .from-right, .from-bottom {
            opacity: 1;
            visibility: visible;
        }
        .from-left,
        .from-right,
        .from-bottom {
            transform: translate(0, 0);
        }
    }
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}


@media (max-width: 1400px) {
    .large-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .btn-big {
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        small {
            font-size: 14px;
        }
    }
    .container {
        width: 95%;
    }
    .container-small {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container-small {
        width: 800px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 1000px;
    }
    .container-large {
        width: 1500px;
    } 
}