#pre-loader {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    img {
        width: auto;
    }
    &.loaded {
        top: 100%;
        visibility: hidden;
        opacity: 0;
    }
}