.margin-b-50 {
  margin-bottom: 50px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-100 {
  margin-bottom: 100px;
}

.light-blue {
  color: $color-light;
}

.dark-blue-bg {
  background: $primary;
}

.center-v {
  align-items: center;
}

.text-primary {
  color: $primary;
}

.text-center {
  text-align: center;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.with-100 {
  width: 100%;
}

.with-max-100 {
  max-width: 100%;
  width: auto;
}

@media (max-width: 1024px) {
  .margin-b-100 {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .margin-b-30 {
    margin-bottom: 15px;
  }
  .margin-b-50 {
    margin-bottom: 25px;
  }
  .margin-b-100 {
    margin-bottom: 30px;
  }
}