.owl-carousel-main {
  .item {
    padding-bottom: 35%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    .container {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    .content.container {
      bottom: 18%
    }
    .strip.container {
      height: 100%
    }
    .bg-strip-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .bg-strip {
      background: $primary;
      position: absolute;
      height: 100%;
      width: 50%;
      opacity: .7;
    }
  }
  h2, p, h1 {
    color: #ffffff;
  }

  h2, h1 {
      font-size: 48px;
      font-weight: bold;
  }
  p {
    font-size: 36px; 
  }

  h1 {
    text-transform: uppercase;
  }

  .item-content {
    max-width: 50%;
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .owl-carousel-main .owl-item {
    h2, p {
      transform: translate(0, 30px);
      opacity: 0;
    }
    h2 {
      transition: all 1s ease-in-out;
    }
    p {
      transition: all 1s ease-in-out 0.5s;
    }
    &.active {
      h2, p {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  
}

.short-carousel {
  .item {
    padding-bottom: 25%;
    .content.container {
      bottom: 10%;
    }
  }
}


.owl-dots {
  position: relative;
  margin-top: -30px;
  text-align: center;
}
.owl-dots button {
  display: inline-block;
  &.active {
    span {
      background: #ffffff;
    }
  }
}
.owl-dots span {
    border-radius: 6px;
    display: block;
    border: 4px solid #fff;
    height: 12px;
    margin: 5px 5px;
    width: 12px;
}

@media (max-width: 1024px) {
  .owl-carousel-main h2, .owl-carousel-main h1 {
    font-size: 30px;
  }
  .owl-carousel-main p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .owl-carousel-main .item .content.container, .short-carousel .item .content.container {
    bottom: 15px;
  }
  .owl-carousel-main .item-content {
    max-width: 100%;
    text-align: center;
  }

  .owl-carousel-main .item .bg-strip {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .owl-carousel-main h2, .owl-carousel-main h1 {
    font-size: 20px;
  }
  .owl-carousel-main p {
    font-size: 16px;
  }
}


