.product-images {
    img {
        width: 100%;
    }
}

.product-intro {
    padding: 100px 0;
}

.product-call-to-action {
    margin: 50px auto;
    .left-background {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 30%;
            top: -10%;
            height: 120%;
            width: 1000%;
            z-index: -1;
            background: $primary;
        }
    }
    
    & > .flex {
        align-items: stretch;
        padding: 50px 0;
    }
    .content {
        width: 60%;
        padding-right: 10%;
        p {
            color: #ffffff;
        }
    }
    figure {
        max-width: 400px;
        img {
            width: 100%;
        }
    }
}


.product-advantages {
    section {
        padding: 20px;
        min-height: 180px;
        p {
            line-height: 24px;
            max-height: 120px;
            overflow: hidden;
        }
        
    }
}

#advantages-block {
    flex-wrap: wrap;
    justify-content: space-between;
    .advantage-item {
        width: 23%;
    }
}

@media (max-width: 768px) {
    #advantages-block { 
        .advantage-item {
            width: 48%;
        }
    }
    .product-intro {
        padding: 20px 0;
    }
    .product-call-to-action {
        margin: 30px auto;
        & > .flex {
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0;
        }
        .content {
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        figure {
            width: 100%;
        }
        .left-background:after {
            right: -10%;
            top: 0;
            height: 100%;
        }
    }
    .product-advantages {
        section {
            margin-bottom: 30px;
        }
    }
}

